body{
  text-align:center;
  font-family:'Poppins',sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color:#2381E6;
  color: #B5FBB0;
  margin:0px 0px 0px 0px;
  
}

h1{
  font-size:80px;
  font-weight:800;
}

.navbar{
  font-family:'Poppins',sans-serif !important;
  background-color:#FED3CC !important;
  padding-top:20px;
  padding-bottom:20px;

}

.nav-link{
  color: #1f6dc0 !important;
  font-family:'Poppins',sans-serif !important;
  font-size: 18px !important;
}

.navbar-brand{
  color: #1f6dc0!important;
  font-family:'Poppins',sans-serif !important;
  font-size: 30px !important;
  padding-right: 30px;
  
}

.navbar-toggler{
  color: #1f6dc0 !important;
}

.container{
    padding-top: 40px;
   
}

.fundo{
    
    padding-top: 40px;
    height: calc(100% - 56px);
    height: 720px !important;
    background-size: cover;
    background-image: url(../../../assets/rect74.png);
}

.card{
    border-radius: 20px;
    margin: 0 auto 50px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.card-container{
    max-width: 360px;
    padding: 40px;
    background-color: #91E4D9;
}

.form-control{
    border-radius: 20px;
}

.btn-login{
    font:'Poppins'!important;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

.message{
    font-family:'Poppins',sans-serif !important;
    font:'Poppins'!important;
    text-align: center;
    margin: 20px 0 0;
    color: #000000;
    font-size: 12px;
}

.form-check-label{
  font-family:'Poppins',sans-serif !important;
  font:'Poppins'!important;
  color: #000000
}

.card-img-top{
  border-radius: 10px;
  transition: transform .2s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.acordao{
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.accordion-body{
  background-color:#FED3CC!important;
  color:#2381E6!important;
}

.accordion-header{
  background-color:#2381E6!important;
}

.accordion-collapse{
  background-color:#FED3CC!important;
}

.accordion-text{
  color:#2381E6!important;
}

.accordion-button{
  background-color:#91E4D9!important;
}

.form-select{
  border-radius: 20px;
}

.contato-body{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  background-color: #91E4D9;
  border-radius: 20px;
  color: #2381E6!important;
  font-weight: 700;
}

.form-registro{
  color:#2381E6!important;
}

.head-registro{
  color:#2381E6!important;
}

.btn-saber{
  background-color:#FED3CC!important;
}

.btn-contato{
  max-width: 100px;
}

.album{
  background-color:#FED3CC!important;
}

.footer{
  background-color:#FED3CC!important;
}

.text-footer{
  color: #1f6dc0!important;
  font-family:'Poppins',sans-serif !important;
  font-size: 18px;

}